{% extends 'header3.html' %} {% load static %} {% block content %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      color: black;
      font-weight: bold;
    }

    th,
    td {
      padding: 10px;
    }

    table#alter tr:nth-child(even) {
      background-color: #eee;
    }

    table#alter tr:nth-child(odd) {
      background-color: #fff;
    }

    table#alter th {
      color: white;
      background-color: gray;
    }
  </style>
  <!-- <script type="text/javascript">
      function printingdata() {
        var print_div = document.getElementById("hello");
        var print_area = window.open();
        print_area.document.write(print_div.innerHTML);
        print_area.document.close();
        print_area.focus();
        print_area.print();
        // print_area.close();
        // This is the code print a particular div element
      }
    </script> -->
</head>

<body>
  <h1>All SOP Details</h1>
  <h3>
    <li><a href="{% url 'back' %}">Home</a></li>
  </h3>

  <hr />
  <!-- hr tag for horizontal line-->
  <table id="alter">
    <tr>
      <th>SOP Name</th>
      <th>SOP NUMBER</th>
      <th>Assigned Date</th>
      <!-- <th>Start Training</th>
      <th>End Training</th> -->
      <th>SOP Verify Date & time</th>
      <th>SOP Approve date & Time</th>
      <th>Date of Training</th>
      <th>SOP Version No.</th>
      <th>Mode of Training</th>
      <th>Type of Evaluation</th>
      <th>Name of Trainer</th>
      <th>Trainer's Department</th>
      <th>Trainer's Designation</th>
      <th>Vanue</th>
      <th>Assigned Trainee's Name</th>
      <!-- <th>Trainee's Employee Code</th> -->
      <th>Training Start Date & Time</th>
      <th>Training End Date & Time </th>
      <th>Trainer's Name</th>
      <!-- <th>Trainer's Attendance Records</th> -->
      <th>HOD / Designee's Name</th>

      <th>Print</th>

    </tr>
    {% for i in log_data %}

    <tr>

      <td>{{i.dpname}}
      </td>
      <td>{{i.cpname}} </td>
      <td>{{i.sch_date}} </td>
      <td>{{i.rgp_verify_time |date:"d-m-Y H:i:s"}}</td>
      <td>{{i.trn_approve_time |date:"d-m-Y H:i:s"}}</td>
      <td>{{i.trn_attend_time |date:"d-m-Y H:i:s"}} </td>
      <td>{{i.sop_ver}} </td>
      <td>{{i.mode_trn}} </td>
      <td>{{i.viva_voice}} </td>
      <td>{{i.trnr_name}} </td>
      <td>{{i.trnr_dept}} </td>
      <!-- <td>{{i.dpname}} </td> -->
      <td>{{i.trnr_desn}} </td>
      <td>{{i.vanue}} </td>
      <td>{{i.emp_name_assign}} </td>
      <!-- <td>{{i.dpname}} </td> -->
      <!-- <td>{{i.dpname}} </td> -->
      <td>{{i.trn_start_time |date:"d-m-Y H:i:s"}} </td>
      <td>{{i.trn_end_time |date:"d-m-Y H:i:s"}} </td>
      <td>{{i.trnr_name}} </td>
      <td>{{i.approver.fname}} {{i.approver.lname}}</td>


      <td>
        <button style="
              background-color: #15161d;
              border-radius: 20px;
              border: 1px solid black;
            ">
          <a style="font-weight: bold; color: rgb(248, 248, 248)" href="{% url 'trn_print' i.id %}"
            target="_blank">Print</a>
        </button>
        <!-- <input
            type="button"
            value="Print"
            class="primary-btn order-submit"
            onclick="printingdata()"
          /> -->
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>
{% endblock %}